<button id="new_subject_button" class="phase0">New Subject</button>

<!-- shown in both -->
<button id="back_button" class="phase1">Back</button>

<!-- shown at getCards -->
<button id="study_button" class="phase2">Study!</button>
<button id="new_card_button" class="phase2">New</button>

<!-- shown at getCard -->
<button id="next_button" class="phase3">Next</button>
<button id="previous_button" class="phase3">Previous</button>
<button id="random_button" class="phase3">Random</button>
