<div><button id="study_button">Study!</button></div>
<div><button id="next_button">Flip</button></div>
<div><button id="previous_button">Previous</button></div>
<div><button id="random_button">Random</button></div>
<div><button id="back_button">Back</button></div>
<div><button id="new_card_button">New</button></div>
