<br>
<br>
<%= render 'nav' %>


<h2><% @cards.each do |c| %></h2>
    <% if c.user_id == current_user.id %>
      <div class="card_holder">
        <h2 id="front"><%= c.front %></h2>
        <h2 id="back"><%= c.back %></h>
      </div>
      <% end %>
  <% end %>
<br>
<button class="js-next" data-id="<%=@cards.first%>">Study!</button>

<br>
