<br>
<br>
<%= render 'nav' %>
<h2 id="subject_name"></h2>
<div id="study_main">
<!-- <h2><% @cards.each do |c| %></h2>
    <% if c.user_id == current_user.id %>
      <div class="card_holder">
        <h2 class="front"><%= c.front %></h2>
        <h2 class="back"><%= c.back %></h>
      </div>
      <% end %>
  <% end %> -->
</div>
<br>
<!-- <button id="study_button">Study!</button> -->
<button id="next_button">Flip</button>
<button id="previous_button">Previous</button>
<button id="back_button">All Cards</button>
<button id="random_button">Random</button>
<button id="new_card_button">New Card</button>



<br>
