_______________________________________________

<h2><%= @card.front %></h2>
<h3><%= @card.back %></h3>

<%= link_to 'Next Card', card_path(@card.next) %><br>
_______________________________________________

<%= render 'links' %>
