/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a {
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }

 h3
{
    text-decoration: none;
    color: transparent;
    font-weight: normal;
}

.card_holder
{
    width: 250px;
    border: 5px solid black;
    border-radius: 8px;
    display: inline-block;
}

.card_holder h2, .card_holder h3
{
    text-align: center;
}

.card_holder:hover h3
{
    color: black;
}

.navbar
{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  background-color: grey;
  left: 0;
  height: 25px;
}

.navbar a:first-child{
    position: fixed;
    color: white;
    padding-top: 2px;
    left: 20px;
}

.navbar a:last-child
{
  position: fixed;
  right: 20px;
  color: white;
  padding-top: 2px;
}
/*
h2
{
    color: black;
}
h2:hover
{
    text-decoration: none;
    color: transparent;
}*/
